# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project files
.DS_Store
.idea
cmake-build-debug/
cmake-build-debug/CMakeFiles
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/KMRhttpd.dir/depend.make
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/KMRhttpd.dir/depend.make
cmake-build-debug/CMakeFiles/clion-log.txt
CMakeCache.txt
Makefile
cmake_install.
CMakeFiles
KMRhttpd
cmake_install.cmake
